
  {{> header }}
    {{> navbar }}

    <section class="home-slider ftco-degree-bg">
      <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-10 ftco-animate text-center">
              <h1 class="mb-4">Bienvenido 
                <strong class="typewrite" data-period="4000" data-type='[ "Misael.", "Julio.", "Jefferson."]'>
                  <span class="wrap"></span>
                </strong>
              </h1>
              <p>Plataformas Web</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Laminas</span>
            <h2>Buscar Lamina por nombre</h2>
            <div class="form-group" style="padding-left">
                <input type="text" id="formulario" class="form-control" placeholder="Ingrese el Nombre de la Lamina">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group" style="padding-center">
            
             <table id="resultado" class="table">
            </table>
            
            </div>
            

            <script>
const id = '{{#each datos.laminas }} {{ this._id }}, {{/each}}';
const numero = '{{#each datos.laminas }} {{ this.numero }}, {{/each}}';
const nombres = '{{#each datos.laminas }} {{ this.nombre }}, {{/each}}';
const numero_seccion = '{{#each datos.laminas }} {{ this.numero_seccion }}, {{/each}}';
const seccion = '{{#each datos.laminas }} {{ this.seccion }}, {{/each}}';
const stock = '{{#each datos.laminas }} {{ this.stock }}, {{/each}}';

var datos  = [];
for(var i= 0; i < nombres.split(",").length-1 ; i++) {
   datos.push(
     { 
       "id":id.split(",")[i].trim(),
       "nombre": nombres.split(",")[i],
       "numero": numero.split(",")[i],
       "numero_seccion": numero_seccion.split(",")[i],
       "seccion": seccion.split(",")[i],
       "stock":stock.split(",")[i]
     }
     );
}
const productos = datos;



const formulario = document.querySelector('#formulario');
const boton = document.querySelector('#boton');
const resultado = document.querySelector('#resultado')

const filtrar = () => {
    resultado.innerHTML = '';
    var vacio = 0;
    const texto = formulario.value.toLowerCase();

    resultado.innerHTML += `
           
            <thead class="thead-dark">
                <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nº Sección</th>
                <th scope="col">Seccion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Opciones</th>
                </tr>
            </thead>
    
    `;
    for (let producto of productos) {
        let nombre = producto.nombre.toLowerCase();
        if (nombre.indexOf(texto) !== -1) {
            vacio = 1;
            resultado.innerHTML += ` 

        <tbody>
             <tr>
             <th scope="row">${producto.numero}</th>
                 <td>${producto.nombre}</td>
                 <td>${producto.numero_seccion}</td>
                 <td>${producto.seccion}</td>
                 <td>${producto.stock}</td>
                 <td>
                <input id="ide" type="hidden" value="${ producto.id }">
                <a  class="btn btn-outline-danger"  style="text-align:center;width:50px;font-size:20px;" onclick="alerta('eliminar?ide=${producto.id}');" ><img src="assets/images/basura.png" width="30" height="40"></a>
                <a  class="btn btn-outline-warning" style="text-align:center;width:50px;font-size:20px;"href="modificar?ide=${ producto.id }"><img src="assets/images/edit.png" width="30" height="40"></a>
            </td>
             </tr>
        </tbody>
          `

          

        }
    }
    if (vacio === 0) {
        resultado.innerHTML = `
        <h2>
          Lámina no encontrada ...
        </h2> 
      `
    }
}

formulario.addEventListener('keyup', filtrar)

filtrar();
  
</script>
        </div>
      </div>
    </section>
{{> foder }}