
  {{> header }}
    {{> navbar }}

    <div class="jumbotron" style="text-align:center;">
        <h1 class="display-1"> {{ capitalizar nombre }}</h1><br>
        <h4 style="color:#FA5858;">BUSCAR LÁMINA POR NOMBRE</h4>
        <div style="padding-left:40%;">
        <input type="text" id="formulario" class="form-control my-2" style="width:300px;">
        </div>
        </div>
        <div>
          <ul>
          </ul>
        </div>
    </div>


<center>
  

      <a href="about">
        <div id="button-container">
        <div id="button" class="green">
          <div id="order"><div id="order-line"></div><div id="order-line"></div></div>
          <p>Nueva Lámina</p>
        </div>
      </a>  

    
      </div>
      <div style="text-align:center;width:80%;font-size:30px;">
        <br>
        
      <table id="resultado" class="table table-dark" style="border-radius: 30px;";>
      </table>

        
      
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </center>  

<script>


const id = '{{#each datos.laminas }} {{ this._id }}, {{/each}}';
const numero = '{{#each datos.laminas }} {{ this.numero }}, {{/each}}';
const nombres = '{{#each datos.laminas }} {{ this.nombre }}, {{/each}}';
const numero_seccion = '{{#each datos.laminas }} {{ this.numero_seccion }}, {{/each}}';
const seccion = '{{#each datos.laminas }} {{ this.seccion }}, {{/each}}';
const stock = '{{#each datos.laminas }} {{ this.stock }}, {{/each}}';

var datos  = [];
for(var i= 0; i < nombres.split(",").length-1 ; i++) {
   datos.push(
     { 
       "id":id.split(",")[i].trim(),
       "nombre": nombres.split(",")[i],
       "numero": numero.split(",")[i],
       "numero_seccion": numero_seccion.split(",")[i],
       "seccion": seccion.split(",")[i],
       "stock":stock.split(",")[i]
     }
     );
}
const productos = datos;



const formulario = document.querySelector('#formulario');
const boton = document.querySelector('#boton');
const resultado = document.querySelector('#resultado')

const filtrar = () => {
    resultado.innerHTML = '';
    var vacio = 0;
    const texto = formulario.value.toLowerCase();

    resultado.innerHTML += `
            <tr style="color:darkorange">
              <td>Nº Lamina</td>
              <td>Nombre</td>
              <td>Nº Sección</td>
              <td>Sección</td>
              <td>Stock</td>
              <td>Opciones</td>
            </tr>
    
    `;
    for (let producto of productos) {
        let nombre = producto.nombre.toLowerCase();
        if (nombre.indexOf(texto) !== -1) {
            vacio = 1;
            resultado.innerHTML += ` 

          <tr>
            <td>${producto.numero}</td>
            <td>${producto.nombre}</td>
            <td>${producto.numero_seccion}</td>
            <td>${producto.seccion}</td>
            <td>${producto.stock}</td>
            <td>
                <input id="ide" type="hidden" value="${ producto.id }">
                <a  class="btn btn-outline-danger"  style="text-align:center;width:50px;font-size:20px;" onclick="alerta('eliminar?ide=${producto.id}');" ><img src="assets/img/basura.png" width="30" height="40"></a>
                <a  class="btn btn-outline-warning" style="text-align:center;width:50px;font-size:20px;"href="modificar?ide=${ producto.id }"><img src="assets/img/edit.png" width="30" height="40"></a>
            </td>
          </tr>
          `

        }
    }
    if (vacio === 0) {
        resultado.innerHTML = `
        <tr> 
          <td colspan="4">
          Lámina no encontrada ...
          </td>
          </tr>
      `
    }
}

formulario.addEventListener('keyup', filtrar)

filtrar();
  
</script>
      
{{> foder }}