
  {{> header }}
    {{> navbar }}

    <link rel='stylesheet' href='assets/css/formulario.css'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class='container'>
            <form class="form" action="actualizar" method="GET">
                
                <input type="text" name="id" value="{{ id }}" readonly><br><br>
                <input type="text" name="num" value="{{ n1 }}"><br><br>
                <input type="text" name="nom" value="{{ n2 }}"><br><br>
                <input type="text" name="num_sec" value="{{ n3 }}"><br><br>
                <input type="text" name="nom_sec" value="{{ n4 }}"><br><br>
                <input type="text" name="stock" value="{{ n5 }}"><br><br>
                <input type="Submit" value="Guardar">
            </form>
        </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    


{{> foder }}